@page "/"
@inject TokenStorage TokenStorage

<PageTitle>Home</PageTitle>

<h1>Telescreen</h1>
<AuthorizeView>
    <p>Hello @context.User.Identity?.Name</p>
</AuthorizeView>

<h2>@DailySlogan</h2>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    public string DailySlogan { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        using var client = new HttpClient();
        DailySlogan = await client.GetStringAsync("https://localhost:7261/Slogans") ?? string.Empty;
    }
}